<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="__ADMIN__">
                <span class="menu-title">Admin</span>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">
                <span class="menu-title">Index</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic1">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/swiper">SWIPER</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/beautiful">BEAUTIFUL(不显示)</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2">
                <span class="menu-title">Case</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-star-circle menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic2">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=1">Case01</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=2">Case02</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=3">Case03</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=4">Case04</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=5">Case05</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=6">Case06</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=7">Case07</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=8">Case08</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=9">Case09</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=10">Case10</a></li>

                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=11">Case11</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=12">Case12</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=13">Case13</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=14">Case14</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=15">Case15</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=16">Case16</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=17">Case17</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=18">Case18</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=19">Case19</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=20">Case20</a></li>

                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=21">Case21</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=22">Case22</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=23">Case23</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=24">Case24</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=25">Case25</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=26">Case26</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=27">Case27</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=28">Case28</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=29">Case29</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/cases?id=30">Case30</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="__ADMIN__/right/fronter">
                <span class="menu-title">Fronter</span>
                <i class="mdi mdi-star menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic3">
                <span class="menu-title">Figure</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-brush menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic3">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/figure?id=1">Figure1</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/figure?id=2">Figure2</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/figure?id=3">Figure3</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/figure?id=4">Figure4</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/figure?id=5">Figure5</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/figure?id=6">Figure6</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic4">
                <span class="menu-title">News</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-brush menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic4">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/news?id=1">News1</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/news?id=2">News2</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/news?id=3">News3</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/news?id=4">News4</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/news?id=5">News5</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/news?id=6">News6</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/news?id=7">News7</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/news?id=8">News8</a></li>
                    <li class="nav-item"> <a class="nav-link" href="__ADMIN__/right/news?id=9">News9</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="__ADMIN__/right/about">
                <span class="menu-title">About</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>