{include file="index@tpl/header" /}

<div id="page_about_container" class="_pc">
    <!-- 合作头部图片 -->
    <div class="header_image_of_cooperatior item-slider">
        <div class="its_img_container"></div>
        <div class="_title font-75-vw waypoint_ani animated" style="transition-delay: 0s;">
            <p>
                室内设计
            </p>
        </div>
    </div>
    <!-- 文字描述 -->
    <div class="remarks_container item-slider">
        <div class="_main_body clear_new waypoint_ani animated" style="transition-delay: 0.01s;">
            <div class="__word_container title"></div>
            <div class="__word_container summary font-14-vw">
                <div>
                    <p>
                        本公司是一家承接高档住宅、样板房、别墅、会所、办公空间、商业空间、公共配套的专业设计机构，以超过同行业施工标准的施工工艺拥有行业良好口碑。两家公司同时为社会才智精英阶层和高端客户提供专业的设计、施工、设备、主材、软装的私属定制整装服务。
                    <p>
                    <p style="margin-top: 20px">
                        设计通过敏锐的洞察结合业主及开发商的实际需求量身定制设计风格，并合理解决相关技术问题。真正做到时尚设计放心工程的完美结果。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--logo墙-->
    <div class="its_brand_container">
        <div class="page_inner_container">
            <div class="text_content font-14-vw item-slider">
                <p class="waypoint_ani animated" style="transition-delay: 0.02s;">
                    设计团队核心人员从业近二十年，具备工装设计能力及别墅豪宅的结构配合能力，对地下室结构防水防潮、结构优化与装饰美感有独特的见解，并具备创新能力。运用国际化视野结合本地文化及原创性家居艺术表现形式，先后为无数个装饰项目提供设计规划和装饰施工服务。
                </p>
            </div>
        </div>
    </div>
</div>
<div class="_mobile">
    <div id="mobile_page_about">
        <!-- 移动端大图加文字 -->
        <div class="image_width_text_middle height_565">
            <div class="bg_box has_mask"></div>
            <div class="text_box font-50-vw">
                <p>
                    室内设计
                </p>
            </div>
        </div>
        <!-- 移动端标题+文字 -->
        <div class="mobile_text_container">
            <div class="_title font-50-vw">About Us</div>
            <div class="_diglog_box font-12-vw">
                <p>
                    本公司是一家承接高档住宅、样板房、别墅、会所、办公空间、商业空间、公共配套的专业设计机构，以超过同行业施工标准的施工工艺拥有行业良好口碑。两家公司同时为社会才智精英阶层和高端客户提供专业的设计、施工、设备、主材、软装的私属定制整装服务。
                <p>
                <p style="margin-top: 20px">
                    设计通过敏锐的洞察结合业主及开发商的实际需求量身定制设计风格，并合理解决相关技术问题。真正做到时尚设计放心工程的完美结果。
                </p>
            </div>
        </div>
        <!-- 移动端标题+文字+图片模块 -->
        <div class="mobile_text_container bg_yellow">
            <div class="_title font-50-vw">Its Brand</div>
            <div class="_diglog_box font-12-vw">
                <p class="waypoint_ani animated" style="transition-delay: 0.02s;">
                    设计团队核心人员从业近二十年，具备工装设计能力及别墅豪宅的结构配合能力，对地下室结构防水防潮、结构优化与装饰美感有独特的见解，并具备创新能力。运用国际化视野结合本地文化及原创性家居艺术表现形式，先后为无数个装饰项目提供设计规划和装饰施工服务。
                </p>
            </div>
        </div>
    </div>
</div>

{include file="index@tpl/footer" /}