{include file="index@tpl/header" /}

<div class="_pc">
    <div id="page_superstars_body" class="page_header_bg _pc">
        <div class="page_inner_container">
            <div class="page_title" style="margin-top: 200px">
                <div class="_title font-60-vw font-montserrat-b">Figure</div>
            </div>
            <div class="superstars_group" id="superstars_group" data-page="2">
                <div class="sg_grid item-slider">
                    <a href="__INDEX__/content?name=figure&id=1">
                        <div class="picture_effect_box waypoint_ani animated" style="transition-delay: 0s;">
                            <div class="picture p_i_e_box"
                                 style="background-image:url(__STATIC__/images/a1.jpg)"></div>
                            <div class="hover_img p_i_e_box"
                                 style="background-image:url(__STATIC__/images/a2.jpg)"></div>
                        </div>
                    </a>
                </div>
                <div class="sg_grid item-slider">
                    <a href="__INDEX__/content?name=figure&id=2">
                        <div class="picture_effect_box waypoint_ani animated" style="transition-delay: 0.01s;">
                            <div class="picture p_i_e_box"
                                 style="background-image:url(__STATIC__/images/b1.jpg)"></div>
                            <div class="hover_img p_i_e_box"
                                 style="background-image:url(__STATIC__/images/b2.jpg)"></div>
                        </div>
                    </a>
                </div>
                <div class="sg_grid item-slider">
                    <a href="__INDEX__/content?name=figure&id=3">
                        <div class="picture_effect_box waypoint_ani animated" style="transition-delay: 0.02s;">
                            <div class="picture p_i_e_box"
                                 style="background-image:url(__STATIC__/images/c1.jpg)"></div>
                            <div class="hover_img p_i_e_box"
                                 style="background-image:url(__STATIC__/images/c2.jpg)"></div>
                        </div>
                    </a>
                </div>
                <div class="sg_grid item-slider">
                    <a href="__INDEX__/content?name=figure&id=4">
                        <div class="picture_effect_box waypoint_ani animated" style="transition-delay: 0.03s;">
                            <div class="picture p_i_e_box"
                                 style="background-image:url(__STATIC__/images/d1.jpg)"></div>
                            <div class="hover_img p_i_e_box"
                                 style="background-image:url(__STATIC__/images/d2.jpg)"></div>
                        </div>
                    </a>
                </div>
                <div class="sg_grid item-slider">
                    <a href="__INDEX__/content?name=figure&id=5">
                        <div class="picture_effect_box waypoint_ani animated" style="transition-delay: 0.04s;">
                            <div class="picture p_i_e_box"
                                 style="background-image:url(__STATIC__/images/e1.jpg)"></div>
                            <div class="hover_img p_i_e_box"
                                 style="background-image:url(__STATIC__/images/e2.jpg)"></div>
                        </div>
                    </a>
                </div>
                <div class="sg_grid item-slider">
                    <a href="__INDEX__/content?name=figure&id=6">
                        <div class="picture_effect_box waypoint_ani animated" style="transition-delay: 0.05s;">
                            <div class="picture p_i_e_box"
                                 style="background-image:url(__STATIC__/images/f1.jpg)"></div>
                            <div class="hover_img p_i_e_box"
                                 style="background-image:url(__STATIC__/images/f2.jpg)"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="_mobile">
    <div id="mobile_page_superstars" class="yellow_top_bg">
        <div class="page_inner_container_for_mobile">
            <div class="_title_layout font-50-vw font-montserrat-b" style="margin-top: 25px">Figure</div>
            <div class="tow_row_groups">
                <div class="padding373 tow_row_items" id="superstars_group_mobile" data-page="2">
                    <div class="tow_row_item slider_go_up">
                        <div class="waypoint_ani">
                            <a href="__INDEX__/content?name=figure&id=1">
                                <div class="the_image_box"
                                     style="background-image:url(__STATIC__/images/a1.jpg)"></div>
                            </a>
                        </div>
                    </div>
                    <div class="tow_row_item slider_go_up">
                        <div class="waypoint_ani">
                            <a href="__INDEX__/content?name=figure&id=2">
                                <div class="the_image_box"
                                     style="background-image:url(__STATIC__/images/b1.jpg)"></div>
                            </a>
                        </div>
                    </div>
                    <div class="tow_row_item slider_go_up">
                        <div class="waypoint_ani">
                            <a href="__INDEX__/content?name=figure&id=3">
                                <div class="the_image_box"
                                     style="background-image:url(__STATIC__/images/c1.jpg)"></div>
                            </a>
                        </div>
                    </div>
                    <div class="tow_row_item slider_go_up">
                        <div class="waypoint_ani">
                            <a href="__INDEX__/content?name=figure&id=4">
                                <div class="the_image_box"
                                     style="background-image:url(__STATIC__/images/d1.jpg)"></div>
                            </a>
                        </div>
                    </div>
                    <div class="tow_row_item slider_go_up">
                        <div class="waypoint_ani">
                            <a href="__INDEX__/content?name=figure&id=5">
                                <div class="the_image_box"
                                     style="background-image:url(__STATIC__/images/e1.jpg)"></div>
                            </a>
                        </div>
                    </div>
                    <div class="tow_row_item slider_go_up">
                        <div class="waypoint_ani">
                            <a href="__INDEX__/content?name=figure&id=6">
                                <div class="the_image_box"
                                     style="background-image:url(__STATIC__/images/f1.jpg)"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="index@tpl/footer" /}