{include file="index@tpl/header" /}

<div class="_pc">
    <div id="page_most_container" class="page_header_bg _pc">
        <div class="most_inner_container">
            <div class="page_title" style="margin-top: 89px">
                <div class="_title font-60-vw font-montserrat-b">Fronter</div>
            </div>
        </div>
        <div class="most_inner_container">
            <div class="the_most_cases_layout">
                <div class="tmc_group _type_1">
                    <div class="tmc_inner_container">
                        <div class="tmc_img_blocks">
                            <div class="av-container av-visible">
                                <div class="img_grid _graph_a aniview aniview_queue_1 animated ani_slide_up"
                                     data-av-animation="ani_slide_up" style="opacity: 0;">
                                    <img src="__STATIC__/images/beauty_001.jpg" alt="">
                                </div>
                            </div>
                            <div class="av-container av-visible">
                                <div class="img_grid _graph_b aniview aniview_queue_2 animated ani_slide_up"
                                     data-av-animation="ani_slide_up" style="opacity: 0;">
                                    <img src="__STATIC__/images/beauty_002.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <a href="">
                            <div class="av-container">
                                <div class="tmc_text_blocks aniview aniview_queue_1" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <div class="nub font-149-vw">01</div>
                                    <div class="text_dialog">
                                        <p class="__category_title font-16-vw">beautiful hotel</p>
                                        <i class="part_line"></i>
                                        <p class="__name font-19-vw">The Jaffa Hotel &amp; Residences</p>
                                        <p class="__summary font-17-vw">John Pawson</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="most_inner_container">
            <div class="the_most_cases_layout">
                <div class="tmc_group _type_0">
                    <div class="tmc_inner_container">
                        <div class="tmc_img_blocks">
                            <div class="av-container">
                                <div class="img_grid _graph_a aniview aniview_queue_1" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <img src="__STATIC__/images/beauty_003.jpg" alt="">
                                </div>
                            </div>
                            <div class="av-container">
                                <div class="img_grid _graph_b aniview aniview_queue_2" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <img src="__STATIC__/images/beauty_004.jpg" alt="">
                                </div>
                            </div>
                            <div class="av-container">
                                <div class="img_grid _graph_c aniview aniview_queue_3" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <img src="__STATIC__/images/beauty_005.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="av-container">
                            <a href="">
                                <div class="tmc_text_blocks aniview aniview_queue_1" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <div class="nub font-149-vw">02</div>
                                    <div class="text_dialog">
                                        <p class="__category_title font-16-vw">beautiful hotel</p>
                                        <i class="part_line"></i>
                                        <p class="__name font-19-vw">Yasushi Horibe Architect &amp; Associates</p>
                                        <p class="__summary font-17-vw">Guntû</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="most_inner_container">
            <div class="the_most_cases_layout">
                <div class="tmc_group _type_2">
                    <div class="tmc_inner_container">
                        <div class="tmc_img_blocks">
                            <div class="av-container">
                                <div class="img_grid _graph_a aniview aniview_queue_1" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <img src="__STATIC__/images/beauty_006.jpg" alt="">
                                </div>
                            </div>
                            <div class="av-container">
                                <div class="img_grid _graph_b aniview aniview_queue_2" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <img src="__STATIC__/images/beauty_007.jpg" alt="">
                                </div>
                            </div>
                            <div class="av-container">
                                <div class="img_grid _graph_c aniview aniview_queue_3" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <img src="__STATIC__/images/beauty_008.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="av-container">
                            <a href="">
                                <div class="tmc_text_blocks aniview aniview_queue_1" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <div class="nub font-149-vw">03</div>
                                    <div class="text_dialog">
                                        <p class="__category_title font-16-vw">beautiful hotel</p>
                                        <i class="part_line"></i>
                                        <p class="__name font-19-vw">Santa Clara 1728 In Lisbon</p>
                                        <p class="__summary font-17-vw">Aires Mateus Architecture</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="outter_decoration_container">
            <div class="most_inner_container">
                <div class="the_most_cases_layout">
                    <div class="tmc_group _type_2">
                        <div class="tmc_inner_container">
                            <div class="tmc_img_blocks">
                                <div class="av-container">
                                    <div class="img_grid _graph_a aniview aniview_queue_1"
                                         data-av-animation="ani_slide_up"
                                         style="opacity: 0;">
                                        <img src="__STATIC__/images/beauty_009.jpg" alt="">
                                    </div>
                                </div>
                                <div class="av-container">
                                    <div class="img_grid _graph_b aniview aniview_queue_2"
                                         data-av-animation="ani_slide_up"
                                         style="opacity: 0;">
                                        <img src="__STATIC__/images/beauty_010.jpg" alt="">
                                    </div>
                                </div>
                                <div class="av-container">
                                    <div class="img_grid _graph_c aniview aniview_queue_3"
                                         data-av-animation="ani_slide_up"
                                         style="opacity: 0;">
                                        <img src="__STATIC__/images/beauty_011.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="av-container">
                                <a href="">
                                    <div class="tmc_text_blocks aniview aniview_queue_1"
                                         data-av-animation="ani_slide_up"
                                         style="opacity: 0;">
                                        <div class="nub font-149-vw">04</div>
                                        <div class="text_dialog">
                                            <p class="__category_title font-16-vw">beautiful hotel</p>
                                            <i class="part_line"></i>
                                            <p class="__name font-19-vw">墙垣 · 青普扬州瘦西湖文化行馆</p>
                                            <p class="__summary font-17-vw">如恩设计研究室</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="most_inner_container">
            <div class="the_most_cases_layout">
                <div class="tmc_group _type_0">
                    <div class="tmc_inner_container">
                        <div class="tmc_img_blocks">
                            <div class="av-container">
                                <div class="img_grid _graph_a aniview aniview_queue_1" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <img src="__STATIC__/images/beauty_012.jpg" alt="">
                                </div>
                            </div>
                            <div class="av-container">
                                <div class="img_grid _graph_b aniview aniview_queue_2" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <img src="__STATIC__/images/beauty_013.jpg" alt="">
                                </div>
                            </div>
                            <div class="av-container">
                                <div class="img_grid _graph_c aniview aniview_queue_3" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <img src="__STATIC__/images/beauty_014.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="av-container">
                            <a href="">
                                <div class="tmc_text_blocks aniview aniview_queue_1" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <div class="nub font-149-vw">05</div>
                                    <div class="text_dialog">
                                        <p class="__category_title font-16-vw">beautiful hotel</p>
                                        <i class="part_line"></i>
                                        <p class="__name font-19-vw">Santorini Istoria Hotel</p>
                                        <p class="__summary font-17-vw">Interior Design Laboratorium</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="most_inner_container">
            <div class="the_most_cases_layout">
                <div class="tmc_group _type_2">
                    <div class="tmc_inner_container">
                        <div class="tmc_img_blocks">
                            <div class="av-container">
                                <div class="img_grid _graph_a aniview aniview_queue_1" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <img src="__STATIC__/images/beauty_015.jpg" alt="">
                                </div>
                            </div>
                            <div class="av-container">
                                <div class="img_grid _graph_b aniview aniview_queue_2" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <img src="__STATIC__/images/beauty_016.jpg" alt="">
                                </div>
                            </div>
                            <div class="av-container">
                                <div class="img_grid _graph_c aniview aniview_queue_3" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <img src="__STATIC__/images/beauty_017.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="av-container">
                            <a href="">
                                <div class="tmc_text_blocks aniview aniview_queue_1" data-av-animation="ani_slide_up"
                                     style="opacity: 0;">
                                    <div class="nub font-149-vw">06</div>
                                    <div class="text_dialog">
                                        <p class="__category_title font-16-vw">beautiful hotel</p>
                                        <i class="part_line"></i>
                                        <p class="__name font-19-vw">Jackalope Hotels</p>
                                        <p class="__summary font-17-vw">CARR DSIGN GROUP</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--移动端-->
<div class="_mobile">
    <div id="mobile_page_most_beauty_container" class="yellow_top_bg">
        <div class="page_inner_container_for_mobile">
            <div class="_title_layout font-50-vw" style="margin-top: 25px">Fronter</div>
            <!-- 移动端面包屑导航 -->
        </div>

        <!--类最美布局-->
        <div class="anomaly_text_img_layout_container">
            <!-- 图片左右滚动模块无js -->
            <!--type2-->
            <div class="slider_go_up scrollernav_container type_1">
                <div class="scrollernav_wapper waypoint_ani">
                    <ul class="scrollernav_items">
                        <li class="scrollernav_item _left_part">
                            <a class="scrollernav_link">
                                <div class="img_box img_box_a"
                                     style="background-image:url(__STATIC__/images/beauty_001.jpg)"></div>
                            </a>
                            <i class="sort_nub font-120-vw">01</i>
                        </li>
                        <li class="scrollernav_item _right_part">
                            <a class="scrollernav_link" href="">
                                <div class="img_box img_box_b"
                                     style="background-image:url(__STATIC__/images/beauty_002.jpg)"></div>
                            </a>
                            <div class="_scrollernav_text_container">
                                <p class="font-16-vw _type">beautiful hotel</p>
                                <i class="mobile_part_line"></i>
                                <p class="font-24-vw _title">The Jaffa Hotel &amp; Residences</p>
                                <p class="font-20-vw _author">John Pawson</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--type1-->
            <div class="slider_go_up scrollernav_container type_0">
                <div class="scrollernav_wapper waypoint_ani">
                    <ul class="scrollernav_items">
                        <li class="scrollernav_item _left_part">
                            <a class="scrollernav_link" href="">
                                <div class="img_box img_box_a"
                                     style="background-image:url(__STATIC__/images/beauty_003.jpg)"></div>
                            </a>
                            <div class="_scrollernav_text_container">
                                <p class="font-16-vw _type">beautiful hotel</p>
                                <i class="mobile_part_line"></i>
                                <p class="font-24-vw _title">Yasushi Horibe Architect &amp; Associates</p>
                                <p class="font-20-vw _author">Guntû</p>
                            </div>
                            <i class="sort_nub font-120-vw">02</i>
                        </li>
                        <li class="scrollernav_item _right_part">
                            <a class="scrollernav_link">
                                <div class="img_box img_box_b"
                                     style="background-image:url(__STATIC__/images/beauty_004.jpg)"></div>
                                <div class="img_box img_box_c"
                                     style="background-image:url(__STATIC__/images/beauty_005.jpg)"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--type3-->
            <div class="slider_go_up scrollernav_container type_2">
                <div class="scrollernav_wapper waypoint_ani">
                    <ul class="scrollernav_items">
                        <li class="scrollernav_item _left_part">
                            <a class="scrollernav_link" href="">
                                <div class="img_box img_box_a"
                                     style="background-image:url(__STATIC__/images/beauty_006.jpg)"></div>
                            </a>
                            <div class="_scrollernav_text_container">
                                <p class="font-16-vw _type">beautiful hotel</p>
                                <i class="mobile_part_line"></i>
                                <p class="font-24-vw _title">Santa Clara 1728 In Lisbon</p>
                                <p class="font-20-vw _author">Aires Mateus Architecture</p>
                            </div>
                            <i class="sort_nub font-120-vw">03</i>
                        </li>
                        <li class="scrollernav_item _right_part">
                            <a class="scrollernav_link">
                                <div class="img_box img_box_b"
                                     style="background-image:url(__STATIC__/images/beauty_007.jpg)"></div>
                                <div class="img_box img_box_c"
                                     style="background-image:url(__STATIC__/images/beauty_008.jpg)"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--type3-->
            <div class="slider_go_up scrollernav_container type_2 has_full_width_bg">
                <div class="scrollernav_wapper waypoint_ani">
                    <ul class="scrollernav_items">
                        <li class="scrollernav_item _left_part">
                            <a class="scrollernav_link" href="">
                                <div class="img_box img_box_a"
                                     style="background-image:url(__STATIC__/images/beauty_009.jpg)"></div>
                            </a>
                            <div class="_scrollernav_text_container">
                                <p class="font-16-vw _type">beautiful hotel</p>
                                <i class="mobile_part_line"></i>
                                <p class="font-24-vw _title">墙垣 · 青普扬州瘦西湖文化行馆</p>
                                <p class="font-20-vw _author">如恩设计研究室</p>
                            </div>
                            <i class="sort_nub font-120-vw">04</i>
                        </li>
                        <li class="scrollernav_item _right_part">
                            <a class="scrollernav_link">
                                <div class="img_box img_box_b"
                                     style="background-image:url(__STATIC__/images/beauty_010.jpg)"></div>
                                <div class="img_box img_box_c"
                                     style="background-image:url(__STATIC__/images/beauty_011.jpg)"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--type1-->
            <div class="slider_go_up scrollernav_container type_0">
                <div class="scrollernav_wapper waypoint_ani">
                    <ul class="scrollernav_items">
                        <li class="scrollernav_item _left_part">
                            <a class="scrollernav_link" href="">
                                <div class="img_box img_box_a"
                                     style="background-image:url(__STATIC__/images/beauty_012.jpg)"></div>
                            </a>
                            <div class="_scrollernav_text_container">
                                <p class="font-16-vw _type">beautiful hotel</p>
                                <i class="mobile_part_line"></i>
                                <p class="font-24-vw _title">Santorini Istoria Hotel</p>
                                <p class="font-20-vw _author">Interior Design Laboratorium</p>
                            </div>
                            <i class="sort_nub font-120-vw">05</i>
                        </li>
                        <li class="scrollernav_item _right_part">
                            <a class="scrollernav_link">
                                <div class="img_box img_box_b"
                                     style="background-image:url(__STATIC__/images/beauty_013.jpg)"></div>
                                <div class="img_box img_box_c"
                                     style="background-image:url(__STATIC__/images/beauty_014.jpg)"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--type3-->
            <div class="slider_go_up scrollernav_container type_2">
                <div class="scrollernav_wapper waypoint_ani">
                    <ul class="scrollernav_items">
                        <li class="scrollernav_item _left_part">
                            <a class="scrollernav_link" href="">
                                <div class="img_box img_box_a"
                                     style="background-image:url(__STATIC__/images/beauty_015.jpg)"></div>
                            </a>
                            <div class="_scrollernav_text_container">
                                <p class="font-16-vw _type">beautiful hotel</p>
                                <i class="mobile_part_line"></i>
                                <p class="font-24-vw _title">Jackalope Hotels</p>
                                <p class="font-20-vw _author">CARR DSIGN GROUP</p>
                            </div>
                            <i class="sort_nub font-120-vw">06</i>
                        </li>
                        <li class="scrollernav_item _right_part">
                            <a class="scrollernav_link">
                                <div class="img_box img_box_b"
                                     style="background-image:url(__STATIC__/images/beauty_016.jpg)"></div>
                                <div class="img_box img_box_c"
                                     style="background-image:url(__STATIC__/images/beauty_017.jpg)"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="index@tpl/footer" /}