{include file="index@tpl/header" /}

<div id="page_main_body" class="_pc ">
    <!-- 首页大图 -->
    <div class="page_big_image_container">
        <div class="image_container">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="this_image" style="background-image:url(__STATIC__/images/indexlunbo1.jpg)"></div>
                        <img data-src="__STATIC__/images/indexlunbo1.jpg" class="swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="this_image" style="background-image:url(__STATIC__/images/indexlunbo2.jpg)"></div>
                        <img data-src="__STATIC__/images/indexlunbo2.jpg" class="swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="this_image" style="background-image:url(__STATIC__/images/indexlunbo3.jpg)"></div>
                        <img data-src="__STATIC__/images/indexlunbo3.jpg" class="swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="index_pc_bt" id="__prev_bts"></div>
        <div class="index_pc_bt" id="__next_bts"></div>
    </div>
    <!-- 首页推介 -->
    <div class="page_index_highlights_container">
        <div class="page_inner_container">
            <div class="part_title font_xl bg icon_1">Video</div>
            <div class="highlights_container">
                <!--<div class="slider-bloc">-->
                    <!--&lt;!&ndash; 左右按钮 &ndash;&gt;-->
                    <!--<div class="nav-hl hidden-sm nav-slider">-->
                        <!--<button id="prev-hl" class="btn-reset nav-hl-button prev-button item-nav waves-effect">-->
                            <!--<span class="icon-arrow-left trans-color"></span>-->
                        <!--</button>-->
                        <!--<button id="next-hl" class="btn-reset nav-hl-button next-button item-nav waves-effect">-->
                            <!--<span class="icon-arrow-right trans-color"></span>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; 轮播主体 &ndash;&gt;-->
                    <!--<div class="content-slider">-->
                        <!--<div class="hl-slider-container content-rel-slider">-->
                            <!--<ul class="slider content-abs-slider" style="">-->
                                <!--<li class="hl-slider-items item-slider" data-inc="1">-->
                                    <!--<div class="inner_li waypoint_ani">-->
                                        <!--<div class="inner_put_li">-->
                                            <!--<div class="h_main_body"-->
                                                 <!--style="background-image:url(__STATIC__/images/indexgongsi1.jpg);">-->
                                                <!--<div class="text_card">-->
                                                    <!--<div class="category_card bg_1 font-13-vw">negotiation</div>-->
                                                    <!--<div class="text_main_body">-->
                                                        <!--<p class="title font-19-vw">一楼洽谈室</p>-->
                                                        <!--<p class="location font-17-vw">Negotiation room on the first-->
                                                            <!--floor</p>-->
                                                        <!--<p class="text_other_info font-13-vw">-->
                                                            <!--<span class="_date">22 january 2019</span>-->
                                                            <!--<span class="_like">-->
                                                        <!--<i></i>4102</span>-->
                                                        <!--</p>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li class="hl-slider-items item-slider" data-inc="2">-->
                                    <!--<div class="inner_li waypoint_ani">-->
                                        <!--<div class="inner_put_li">-->
                                            <!--<div class="h_main_body"-->
                                                 <!--style="background-image:url(__STATIC__/images/indexgongsi2.jpg);">-->
                                                <!--<div class="text_card">-->
                                                    <!--<div class="category_card bg_1 font-13-vw">studio</div>-->
                                                    <!--<div class="text_main_body">-->
                                                        <!--<p class="title font-19-vw">高级设计师工作室</p>-->
                                                        <!--<p class="location font-17-vw">Senior designer studio</p>-->
                                                        <!--<p class="text_other_info font-13-vw">-->
                                                            <!--<span class="_date">3 december 2018</span>-->
                                                            <!--<span class="_like">-->
                                                        <!--<i></i>7577</span>-->
                                                        <!--</p>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li class="hl-slider-items item-slider" data-inc="3">-->
                                    <!--<div class="inner_li waypoint_ani">-->
                                        <!--<div class="inner_put_li">-->
                                            <!--<div class="h_main_body"-->
                                                 <!--style="background-image:url(__STATIC__/images/indexgongsi3.jpg);">-->
                                                <!--<div class="text_card">-->
                                                    <!--<div class="category_card bg_2 font-13-vw">office</div>-->
                                                    <!--<div class="text_main_body">-->
                                                        <!--<p class="title font-19-vw">高级设计师办公室</p>-->
                                                        <!--<p class="location font-17-vw">Senior designer office</p>-->
                                                        <!--<p class="text_other_info font-13-vw">-->
                                                            <!--<span class="_date">25 february 2019</span>-->
                                                            <!--<span class="_like">-->
                                                        <!--<i></i>3739</span>-->
                                                        <!--</p>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; 轮播锚点 &ndash;&gt;-->
                    <!--<div class="nav-bullet hidden-xs">-->
                        <!--<ul>-->
                            <!--<li>-->
                                <!--<button class="btn-reset">-->
                                    <!--<span class="bullet current"></span>-->
                                <!--</button>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<button class="btn-reset">-->
                                    <!--<span class="bullet "></span>-->
                                <!--</button>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<button class="btn-reset">-->
                                    <!--<span class="bullet"></span>-->
                                <!--</button>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <video src="movie.ogg" controls="controls" style="width: 100%;">
                您的浏览器不支持 video 标签。
            </video>
        </div>
    </div>
    <!-- 首页案例 -->
    <div class="page_index_cases_lists_container _from_right_to_left_effect">
        <div class="page_inner_container">
            <div class="part_title font_xl bg icon_2">Case</div>
            <div class="cases_lists_container">
                <!--首页最漂亮(不显示)-->
                <!--<a href="__INDEX__/content?name=beautiful&id=1">-->
                <!--<div class="page_index_most_container">-->
                    <!--<div class="_self_bg"></div>-->
                    <!--<div class="_text_container">-->
                        <!--<div class="most_main_body aniview aniview_queue_1" data-av-animation="ani_slide_up"-->
                             <!--style="background-image:url(__STATIC__/images/most_1.jpg)">-->
                            <!--<div class="dec_line"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--</a>-->
                <div>
                    <div class="case_row">
                        <!--<div class="case_box size_big">-->
                        <div class="case_box size_middle">
                            <a href="__INDEX__/content?name=cases&id=1">
                                <div class="inner_structure aniview aniview_queue_1" data-av-animation="ani_slide_up">
                                    <div class="the_put_box">
                                        <div class="case_cover_box loader_container loadingM">
                                            <img src="" data-src="__STATIC__/images/work_001.jpg" alt="">
                                        </div>
                                        <div class="case_info_card">
                                            <p class="category_card bg_2 font-13-vw">{$sign1}</p>
                                            <p class="title">{$title1}</p>
                                            <p class="location">{$style1}</p>
                                            <p class="other_info font-13-vw">
                                                <span>{$date1}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span class="_common_like_point">{$visit1}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="case_box size_middle">
                            <a href="__INDEX__/content?name=cases&id=2">
                                <div class="inner_structure aniview aniview_queue_2" data-av-animation="ani_slide_up">
                                    <div class="the_put_box">
                                        <div class="case_cover_box loader_container loadingM">
                                            <img src="" data-src="__STATIC__/images/work_002.jpg" alt="">
                                        </div>
                                        <div class="case_info_card">
                                            <p class="category_card bg_2 font-13-vw">{$sign2}</p>
                                            <p class="title">{$title2}</p>
                                            <p class="location">{$style2}</p>
                                            <p class="other_info font-13-vw">
                                                <span>{$date2}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span class="_common_like_point">{$visit2}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="case_row">
                        <div class="case_box size_middle">
                            <a href="__INDEX__/content?name=cases&id=3">
                                <div class="inner_structure aniview aniview_queue_1" data-av-animation="ani_slide_up">
                                    <div class="the_put_box">
                                        <div class="case_cover_box loader_container loadingM">
                                            <img src="" data-src="__STATIC__/images/work_003.jpg" alt="">
                                        </div>
                                        <div class="case_info_card">
                                            <p class="category_card bg_2 font-13-vw">{$sign3}</p>
                                            <p class="title">{$title3}</p>
                                            <p class="location">{$style3}</p>
                                            <p class="other_info font-13-vw">
                                                <span>{$date3}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span class="_common_like_point">{$visit3}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="case_box size_middle">
                            <a href="__INDEX__/content?name=cases&id=4">
                                <div class="inner_structure aniview aniview_queue_2" data-av-animation="ani_slide_up">
                                    <div class="the_put_box">
                                        <div class="case_cover_box loader_container loadingM">
                                            <img src="" data-src="__STATIC__/images/work_004.jpg" alt="">
                                        </div>
                                        <div class="case_info_card">
                                            <p class="category_card bg_2 font-13-vw">{$sign4}</p>
                                            <p class="title">{$title4}</p>
                                            <p class="location">{$style4}</p>
                                            <p class="other_info font-13-vw">
                                                <span>{$date4}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span class="_common_like_point">{$visit4}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="case_row">
                        <div class="case_box size_middle">
                            <a href="__INDEX__/content?name=cases&id=5">
                                <div class="inner_structure aniview aniview_queue_1" data-av-animation="ani_slide_up">
                                    <div class="the_put_box">
                                        <div class="case_cover_box loader_container loadingM">
                                            <img src="" data-src="__STATIC__/images/work_005.jpg" alt="">
                                        </div>
                                        <div class="case_info_card">
                                            <p class="category_card bg_2 font-13-vw">{$sign5}</p>
                                            <p class="title">{$title5}</p>
                                            <p class="location">{$style5}</p>
                                            <p class="other_info font-13-vw">
                                                <span>{$date5}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span class="_common_like_point">{$visit5}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--<div class="case_box size_small">-->
                        <div class="case_box size_middle">
                            <a href="__INDEX__/content?name=cases&id=6">
                                <div class="inner_structure aniview aniview_queue_2" data-av-animation="ani_slide_up">
                                    <div class="the_put_box">
                                        <div class="case_cover_box loader_container loadingM">
                                            <img src="" data-src="__STATIC__/images/work_006.jpg" alt="">
                                        </div>
                                        <div class="case_info_card">
                                            <p class="category_card bg_2 font-13-vw">{$sign6}</p>
                                            <p class="title">{$title6}</p>
                                            <p class="location">{$style6}</p>
                                            <p class="other_info font-13-vw">
                                                <span>{$date6}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span class="_common_like_point">{$visit6}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="case_row">
                        <div class="case_box size_middle">
                            <a href="__INDEX__/content?name=cases&id=7">
                                <div class="inner_structure aniview aniview_queue_1" data-av-animation="ani_slide_up">
                                    <div class="the_put_box">
                                        <div class="case_cover_box loader_container loadingM">
                                            <img src="" data-src="__STATIC__/images/work_007.jpg" alt="">
                                        </div>
                                        <div class="case_info_card">
                                            <p class="category_card bg_2 font-13-vw">{$sign7}</p>
                                            <p class="title">{$title7}</p>
                                            <p class="location">{$style7}</p>
                                            <p class="other_info font-13-vw">
                                                <span>{$date7}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span class="_common_like_point">{$visit7}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="case_box size_middle">
                            <a href="__INDEX__/content?name=cases&id=8">
                                <div class="inner_structure aniview aniview_queue_2" data-av-animation="ani_slide_up">
                                    <div class="the_put_box">
                                        <div class="case_cover_box loader_container loadingM">
                                            <img src="" data-src="__STATIC__/images/work_008.jpg" alt="">
                                        </div>
                                        <div class="case_info_card">
                                            <p class="category_card bg_2 font-13-vw">{$sign8}</p>
                                            <p class="title">{$title8}</p>
                                            <p class="location">{$style8}</p>
                                            <p class="other_info font-13-vw">
                                                <span>{$date8}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span class="_common_like_point">{$visit8}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="_mobile">
    <!--移动端首页-->
    <div id="index_page4mobile" class="">
        <!--移动端全屏尺寸大图-->
        <div class="full_screen_size_img4mobile">
            <div class="image_container">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="this_image"
                                 style="background-image:url(__STATIC__/images/indexlunbo1.jpg)"></div>
                            <img data-src="__STATIC__/images/indexlunbo1.jpg" class="swiper-lazy">
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="this_image"
                                 style="background-image:url(__STATIC__/images/indexlunbo2.jpg)"></div>
                            <img data-src="__STATIC__/images/indexlunbo2.jpg" class="swiper-lazy">
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="this_image"
                                 style="background-image:url(__STATIC__/images/indexlunbo3.jpg)"></div>
                            <img data-src="__STATIC__/images/indexlunbo3.jpg" class="swiper-lazy">
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="index_pc_bt" id="__prev_bts"></div>
            <div class="index_pc_bt" id="__next_bts"></div>
        </div>

        <!--移动端轮播-->
        <div class="index_h_scroll sign_to_show">
            <div class="page_inner_container_for_mobile">
                <div class="_title_with_icon __icon_1 font-40-vw">Video</div>
            </div>
            <div class="part_hightlights4mobile" style="height: 150px">
                <video src="movie.ogg" controls="controls" style="width: 100%;">
                    您的浏览器不支持 video 标签。
                </video>
                <!--<div class="__this_inner_">-->
                    <!--<div class="slider-bloc">-->
                        <!--&lt;!&ndash; 左右按钮 &ndash;&gt;-->
                        <!--<div class="nav-hl hidden-sm hidden-xs nav-slider">-->
                            <!--<button id="prev-hl" class="btn-reset nav-hl-button prev-button item-nav waves-effect">-->
                                <!--<span class="icon-arrow-left trans-color"></span>-->
                            <!--</button>-->
                            <!--<button id="next-hl" class="btn-reset nav-hl-button next-button item-nav waves-effect">-->
                                <!--<span class="icon-arrow-right trans-color"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; 轮播主体 &ndash;&gt;-->
                        <!--<div class="content-slider">-->
                            <!--<div class="hl-slider-container content-rel-slider">-->
                                <!--<ul class="slider content-abs-slider" style="">-->
                                    <!--<li class="hl-slider-items item-slider" data-inc="1">-->
                                        <!--<div class="inner_put_li">-->
                                            <!--<div class="h_main_body"-->
                                                 <!--style="background-image:url(__STATIC__/images/indexgongsi1.jpg);">-->
                                                <!--<div class="text_card">-->
                                                    <!--<div class="category_card bg_1 font-13-vw">negotiation</div>-->
                                                    <!--<div class="text_main_body">-->
                                                        <!--<p class="title font-20-vw">一楼洽谈室</p>-->
                                                        <!--<p class="location font-18-vw">Negotiation room on the first-->
                                                            <!--floor</p>-->
                                                        <!--<i class="part_line"></i>-->
                                                        <!--<p class="text_other_info font-14-vw">-->
                                                            <!--<span class="_date">22 january 2019</span>-->
                                                            <!--<span class="_like">-->
                                                        <!--<i></i>4103</span>-->
                                                        <!--</p>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--<li class="hl-slider-items item-slider" data-inc="2">-->
                                        <!--<div class="inner_put_li">-->
                                            <!--<div class="h_main_body"-->
                                                 <!--style="background-image:url(__STATIC__/images/indexgongsi2.jpg);">-->
                                                <!--<div class="text_card">-->
                                                    <!--<div class="category_card bg_1 font-13-vw">studio</div>-->
                                                    <!--<div class="text_main_body">-->
                                                        <!--<p class="title font-20-vw">高级设计师工作室</p>-->
                                                        <!--<p class="location font-18-vw">Senior designer studio</p>-->
                                                        <!--<i class="part_line"></i>-->
                                                        <!--<p class="text_other_info font-14-vw">-->
                                                            <!--<span class="_date">3 december 2018</span>-->
                                                            <!--<span class="_like">-->
                                                        <!--<i></i>7577</span>-->
                                                        <!--</p>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--<li class="hl-slider-items item-slider" data-inc="3">-->
                                        <!--<div class="inner_put_li">-->
                                            <!--<div class="h_main_body"-->
                                                 <!--style="background-image:url(__STATIC__/images/indexgongsi3.jpg);">-->
                                                <!--<div class="text_card">-->
                                                    <!--<div class="category_card bg_2 font-13-vw">office</div>-->
                                                    <!--<div class="text_main_body">-->
                                                        <!--<p class="title font-20-vw">高级设计师办公室</p>-->
                                                        <!--<p class="location font-18-vw">Senior designer office</p>-->
                                                        <!--<i class="part_line"></i>-->
                                                        <!--<p class="text_other_info font-14-vw">-->
                                                            <!--<span class="_date">25 february 2019</span>-->
                                                            <!--<span class="_like">-->
                                                        <!--<i></i>3739</span>-->
                                                        <!--</p>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; 轮播锚点 &ndash;&gt;-->
                        <!--<div class="nav-bullet hidden-xs">-->
                            <!--<ul>-->
                                <!--<li>-->
                                    <!--<button class="btn-reset">-->
                                        <!--<span class="bullet current"></span>-->
                                    <!--</button>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<button class="btn-reset">-->
                                        <!--<span class="bullet "></span>-->
                                    <!--</button>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<button class="btn-reset">-->
                                        <!--<span class="bullet"></span>-->
                                    <!--</button>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <!--首页最新-->
        <div id="index_most_newest4mobile" class="yellow_top_bg_353">
            <div class="page_inner_container_for_mobile">
                <div class="_title_with_icon __icon_2 font-40-vw">项目案例</div>
                <!-- 类移动端type案例展示 -->
                <div class="many_cards_mix_show_container">
                    <div class="_card_item big" onclick="javascript:window.location.href='__INDEX__/content?name=cases&id=1'">
                        <div class="aniview aniview_queue_1" data-av-animation="ani_slide_up">
                            <div class="_card_wrapper">
                                <div class="__card_cover  bg_2">
                                    <div class="___cover_img loader_container loadingM">
                                        <img src="" data-src="__STATIC__/images/work_001.jpg" alt="">
                                    </div>
                                    <div class="___sign">{$sign1}</div>
                                </div>
                                <div class="__card_info">
                                    <div class="___info_main_body">
                                        <p class="_info_author">{$title1}</p>
                                        <p class="_info_title font_strsub">{$style1}</p>
                                        <i class="mobile_part_line"></i>
                                        <p class="_info_oi">
                                            <span>{$date1}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="like_point4mobile">{$visit1}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_card_item big" onclick="javascript:window.location.href='__INDEX__/content?name=cases&id=2'">
                        <div class="aniview aniview_queue_2" data-av-animation="ani_slide_up">
                            <div class="_card_wrapper">
                                <div class="__card_cover  bg_2">
                                    <div class="___cover_img loader_container loadingM">
                                        <img src="" data-src="__STATIC__/images/work_002.jpg" alt="">
                                    </div>
                                    <div class="___sign">{$sign2}</div>
                                </div>
                                <div class="__card_info">
                                    <div class="___info_main_body">
                                        <p class="_info_author">{$title2}</p>
                                        <p class="_info_title font_strsub">{$style2}</p>
                                        <i class="mobile_part_line"></i>
                                        <p class="_info_oi">
                                            <span>{$date2}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="like_point4mobile">{$visit2}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_card_item big" onclick="javascript:window.location.href='__INDEX__/content?name=cases&id=3'">
                        <div class="aniview aniview_queue_3" data-av-animation="ani_slide_up">
                            <div class="_card_wrapper">
                                <div class="__card_cover  bg_2">
                                    <div class="___cover_img loader_container loadingM">
                                        <img src="" data-src="__STATIC__/images/work_003.jpg" alt="">
                                    </div>
                                    <div class="___sign">{$sign3}</div>
                                </div>
                                <div class="__card_info">
                                    <div class="___info_main_body">
                                        <p class="_info_author">{$title3}</p>
                                        <p class="_info_title font_strsub">{$style3}</p>
                                        <i class="mobile_part_line"></i>
                                        <p class="_info_oi">
                                            <span>{$date3}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="like_point4mobile">{$visit3}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_card_item big" onclick="javascript:window.location.href='__INDEX__/content?name=cases&id=4'">
                        <div class="aniview aniview_queue_4" data-av-animation="ani_slide_up">
                            <div class="_card_wrapper">
                                <div class="__card_cover  bg_1">
                                    <div class="___cover_img loader_container loadingM">
                                        <img src="" data-src="__STATIC__/images/work_004.jpg" alt="">
                                    </div>
                                    <div class="___sign">{$sign4}</div>
                                </div>
                                <div class="__card_info">
                                    <div class="___info_main_body">
                                        <p class="_info_author">{$title4}</p>
                                        <p class="_info_title font_strsub">{$style4}</p>
                                        <i class="mobile_part_line"></i>
                                        <p class="_info_oi">
                                            <span>{$date4}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="like_point4mobile">{$visit4}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_card_item big" onclick="javascript:window.location.href='__INDEX__/content?name=cases&id=5'">
                        <div class="aniview aniview_queue_5" data-av-animation="ani_slide_up">
                            <div class="_card_wrapper">
                                <div class="__card_cover  bg_2">
                                    <div class="___cover_img loader_container loadingM">
                                        <img src="" data-src="__STATIC__/images/work_005.jpg" alt="">
                                    </div>
                                    <div class="___sign">{$sign5}</div>
                                </div>
                                <div class="__card_info">
                                    <div class="___info_main_body">
                                        <p class="_info_author">{$title5}</p>
                                        <p class="_info_title font_strsub">{$style5}</p>
                                        <i class="mobile_part_line"></i>
                                        <p class="_info_oi">
                                            <span>{$date5}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="like_point4mobile">{$visit5}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_card_item big" onclick="javascript:window.location.href='__INDEX__/content?name=cases&id=6'">
                        <div class="aniview aniview_queue_6" data-av-animation="ani_slide_up">
                            <div class="_card_wrapper">
                                <div class="__card_cover  bg_1">
                                    <div class="___cover_img loader_container loadingM">
                                        <img src="" data-src="__STATIC__/images/work_006.jpg" alt="">
                                    </div>
                                    <div class="___sign">{$sign6}</div>
                                </div>
                                <div class="__card_info">
                                    <div class="___info_main_body">
                                        <p class="_info_author">{$title6}</p>
                                        <p class="_info_title font_strsub">{$style6}</p>
                                        <i class="mobile_part_line"></i>
                                        <p class="_info_oi">
                                            <span>{$date6}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="like_point4mobile">{$visit6}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_card_item big" onclick="javascript:window.location.href='__INDEX__/content?name=cases&id=7'">
                        <div class="aniview aniview_queue_7" data-av-animation="ani_slide_up">
                            <div class="_card_wrapper">
                                <div class="__card_cover  bg_1">
                                    <div class="___cover_img loader_container loadingM">
                                        <img src="" data-src="__STATIC__/images/work_007.jpg" alt="">
                                    </div>
                                    <div class="___sign">{$sign7}</div>
                                </div>
                                <div class="__card_info">
                                    <div class="___info_main_body">
                                        <p class="_info_author">{$title7}</p>
                                        <p class="_info_title font_strsub">{$style7}</p>
                                        <i class="mobile_part_line"></i>
                                        <p class="_info_oi">
                                            <span>{$date7}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="like_point4mobile">{$visit7}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_card_item big" onclick="javascript:window.location.href='__INDEX__/content?name=cases&id=8'">
                        <div class="aniview aniview_queue_8" data-av-animation="ani_slide_up">
                            <div class="_card_wrapper">
                                <div class="__card_cover  bg_1">
                                    <div class="___cover_img loader_container loadingM">
                                        <img src="" data-src="__STATIC__/images/work_008.jpg" alt="">
                                    </div>
                                    <div class="___sign">{$sign8}</div>
                                </div>
                                <div class="__card_info">
                                    <div class="___info_main_body">
                                        <p class="_info_author">{$title8}</p>
                                        <p class="_info_title font_strsub">{$style8}</p>
                                        <i class="mobile_part_line"></i>
                                        <p class="_info_oi">
                                            <span>{$date8}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="like_point4mobile">{$visit8}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="index@tpl/footer" /}
