{include file="index@tpl/header" /}

<div id="page_company_news_container" class="page_header_bg _pc">
    <div class="page_inner_container">
        <div class="page_title" style="margin-top: 200px">
            <div class="_title font-60-vw font-montserrat-b">News</div>
        </div>
        <div class="cn_groups_container" id="cn_groups_container" data-page="2">
            <div class="row clear_new">
                <div class="cng_grid item-slider" onclick="javascript:window.location.href='__INDEX__/content?name=news&id=1'">
                    <div class="cng_body waypoint_ani animated" style="transition-delay: 0s;">
                        <div class="_bg"
                             style="background-image:url(__STATIC__/images/news/1.jpg);"></div>
                        <div class="_text">
                            <p class="font-18-vw __author">{$title1}</p>
                            <p class="font-16-vw __award">{$style1}</p>
                            <i class="part_line"></i>
                            <p class="font-13-vw __date">{$date1}</p>
                        </div>
                    </div>
                </div>
                <div class="cng_grid item-slider" onclick="javascript:window.location.href='__INDEX__/content?name=news&id=2'">
                    <div class="cng_body waypoint_ani animated" style="transition-delay: 0.01s;">
                        <div class="_bg"
                             style="background-image:url(__STATIC__/images/news/2.jpg);"></div>
                        <div class="_text">
                            <p class="font-18-vw __author">{$title2}</p>
                            <p class="font-16-vw __award">{$style2}</p>
                            <i class="part_line"></i>
                            <p class="font-13-vw __date">{$date2}</p>
                        </div>
                    </div>
                </div>
                <div class="cng_grid item-slider" onclick="javascript:window.location.href='__INDEX__/content?name=news&id=3'">
                    <div class="cng_body waypoint_ani animated" style="transition-delay: 0.02s;">
                        <div class="_bg"
                             style="background-image:url(__STATIC__/images/news/3.jpg);"></div>
                        <div class="_text">
                            <p class="font-18-vw __author">{$title3}</p>
                            <p class="font-16-vw __award">{$style3}</p>
                            <i class="part_line"></i>
                            <p class="font-13-vw __date">{$date3}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clear_new">
                <div class="cng_grid item-slider" onclick="javascript:window.location.href='__INDEX__/content?name=news&id=4'">
                    <div class="cng_body waypoint_ani animated" style="transition-delay: 0.03s;">
                        <div class="_bg"
                             style="background-image:url(__STATIC__/images/news/4.jpg);"></div>
                        <div class="_text">
                            <p class="font-18-vw __author">{$title4}</p>
                            <p class="font-16-vw __award">{$style4}</p>
                            <i class="part_line"></i>
                            <p class="font-13-vw __date">{$date4}</p>
                        </div>
                    </div>
                </div>
                <div class="cng_grid item-slider" onclick="javascript:window.location.href='__INDEX__/content?name=news&id=5'">
                    <div class="cng_body waypoint_ani animated" style="transition-delay: 0.04s;">
                        <div class="_bg"
                             style="background-image:url(__STATIC__/images/news/5.jpg);"></div>
                        <div class="_text">
                            <p class="font-18-vw __author">{$title5}</p>
                            <p class="font-16-vw __award">{$style5}</p>
                            <i class="part_line"></i>
                            <p class="font-13-vw __date">{$date5}</p>
                        </div>
                    </div>
                </div>
                <div class="cng_grid item-slider" onclick="javascript:window.location.href='__INDEX__/content?name=news&id=6'">
                    <div class="cng_body waypoint_ani animated" style="transition-delay: 0.05s;">
                        <div class="_bg"
                             style="background-image:url(__STATIC__/images/news/6.jpg);"></div>
                        <div class="_text">
                            <p class="font-18-vw __author">{$title6}</p>
                            <p class="font-16-vw __award">{$style6}</p>
                            <i class="part_line"></i>
                            <p class="font-13-vw __date">{$date6}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clear_new">
                <div class="cng_grid item-slider" onclick="javascript:window.location.href='__INDEX__/content?name=news&id=7'">
                    <div class="cng_body waypoint_ani animated" style="transition-delay: 0.06s;">
                        <div class="_bg"
                             style="background-image:url(__STATIC__/images/news/7.jpg);"></div>
                        <div class="_text">
                            <p class="font-18-vw __author">{$title7}</p>
                            <p class="font-16-vw __award">{$style7}</p>
                            <i class="part_line"></i>
                            <p class="font-13-vw __date">{$date7}</p>
                        </div>
                    </div>
                </div>
                <div class="cng_grid item-slider" onclick="javascript:window.location.href='__INDEX__/content?name=news&id=8'">
                    <div class="cng_body waypoint_ani animated" style="transition-delay: 0.07s;">
                        <div class="_bg"
                             style="background-image:url(__STATIC__/images/news/8.jpg);"></div>
                        <div class="_text">
                            <p class="font-18-vw __author">{$title8}</p>
                            <p class="font-16-vw __award">{$style8}</p>
                            <i class="part_line"></i>
                            <p class="font-13-vw __date">{$date8}</p>
                        </div>
                    </div>
                </div>
                <div class="cng_grid item-slider" onclick="javascript:window.location.href='__INDEX__/content?name=news&id=9'">
                    <div class="cng_body waypoint_ani animated" style="transition-delay: 0.08s;">
                        <div class="_bg"
                             style="background-image:url(__STATIC__/images/news/9.jpg);"></div>
                        <div class="_text">
                            <p class="font-18-vw __author">{$title9}</p>
                            <p class="font-16-vw __award">{$style9}</p>
                            <i class="part_line"></i>
                            <p class="font-13-vw __date">{$date9}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="_mobile">
    <!-- 移动端公司信息主体 -->
    <div id="mobile_page_company_news_container" class="yellow_top_bg">
        <div class="page_inner_container_for_mobile">
            <div class="_title_layout font-50-vw" style="margin-top: 25px">News</div>
            <!-- 移动端图片列表-1 -->
            <div class="square_image_groups">
                <div class="square_image_mask" id="square_image_mask" data-page="2">
                    <div class="square_image_item slider_go_up">
                        <a href="__INDEX__/content?name=news&id=1" class="waypoint_ani">
                            <div class="square_image" style="background-image:url(__STATIC__/images/news/1.jpg);"></div>
                            <div class="square_text">
                                <div class="square_text_inner">
                                    <p class="_author font-18-vw">{$title1}</p>
                                    <p class="_title font-16-vw">{$style1}</p>
                                    <i class="_part_line4m"></i>
                                    <p class="_date font-15-vw">{$date1}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="square_image_item slider_go_up">
                        <a href="__INDEX__/content?name=news&id=2" class="waypoint_ani">
                            <div class="square_image" style="background-image:url(__STATIC__/images/news/2.jpg);"></div>
                            <div class="square_text">
                                <div class="square_text_inner">
                                    <p class="_author font-18-vw">{$title2}</p>
                                    <p class="_title font-16-vw">{$style2}</p>
                                    <i class="_part_line4m"></i>
                                    <p class="_date font-15-vw">{$date2}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="square_image_item slider_go_up">
                        <a href="__INDEX__/content?name=news&id=3" class="waypoint_ani">
                            <div class="square_image" style="background-image:url(__STATIC__/images/news/3.jpg);"></div>
                            <div class="square_text">
                                <div class="square_text_inner">
                                    <p class="_author font-18-vw">{$title3}</p>
                                    <p class="_title font-16-vw">{$style3}</p>
                                    <i class="_part_line4m"></i>
                                    <p class="_date font-15-vw">{$date3}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="square_image_item slider_go_up">
                        <a href="__INDEX__/content?name=news&id=4" class="waypoint_ani">
                            <div class="square_image" style="background-image:url(__STATIC__/images/news/4.jpg);"></div>
                            <div class="square_text">
                                <div class="square_text_inner">
                                    <p class="_author font-18-vw">{$title4}</p>
                                    <p class="_title font-16-vw">{$style4}</p>
                                    <i class="_part_line4m"></i>
                                    <p class="_date font-15-vw">{$date4}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="square_image_item slider_go_up">
                        <a href="__INDEX__/content?name=news&id=5" class="waypoint_ani">
                            <div class="square_image" style="background-image:url(__STATIC__/images/news/5.jpg);"></div>
                            <div class="square_text">
                                <div class="square_text_inner">
                                    <p class="_author font-18-vw">{$title5}</p>
                                    <p class="_title font-16-vw">{$style5}</p>
                                    <i class="_part_line4m"></i>
                                    <p class="_date font-15-vw">{$date5}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="square_image_item slider_go_up">
                        <a href="__INDEX__/content?name=news&id=6" class="waypoint_ani">
                            <div class="square_image" style="background-image:url(__STATIC__/images/news/6.jpg);"></div>
                            <div class="square_text">
                                <div class="square_text_inner">
                                    <p class="_author font-18-vw">{$title6}</p>
                                    <p class="_title font-16-vw">{$style6}</p>
                                    <i class="_part_line4m"></i>
                                    <p class="_date font-15-vw">{$date6}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="square_image_item slider_go_up">
                        <a href="__INDEX__/content?name=news&id=7" class="waypoint_ani">
                            <div class="square_image" style="background-image:url(__STATIC__/images/news/7.jpg);"></div>
                            <div class="square_text">
                                <div class="square_text_inner">
                                    <p class="_author font-18-vw">{$title7}</p>
                                    <p class="_title font-16-vw">{$style7}</p>
                                    <i class="_part_line4m"></i>
                                    <p class="_date font-15-vw">{$date7}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="square_image_item slider_go_up">
                        <a href="__INDEX__/content?name=news&id=8" class="waypoint_ani">
                            <div class="square_image" style="background-image:url(__STATIC__/images/news/8.jpg);"></div>
                            <div class="square_text">
                                <div class="square_text_inner">
                                    <p class="_author font-18-vw">{$title8}</p>
                                    <p class="_title font-16-vw">{$style8}</p>
                                    <i class="_part_line4m"></i>
                                    <p class="_date font-15-vw">{$date8}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{include file="index@tpl/footer" /}