{include file="index@tpl/header" /}

<!-- 页面正文 -->
<div id="page_cooperatior_container" class="_pc">
    <!-- 合作头部图片 -->
    <div class="header_image_of_cooperatior item-slider">
        <div class="its_img_container"></div>
        <div class="_title font-75-vw waypoint_ani animated" style="transition-delay: 0s;">
            <p>Submission And
                <br>Cooperation</p>
        </div>
    </div>
    <!-- 文字描述 -->
    <div class="remarks_container item-slider">
        <div class="_main_body clear_new waypoint_ani animated" style="transition-delay: 0.01s;">
            <div class="__word_container title">
                <div>
                    <p class="___title font-55-vw">Submission
                        <br>Requirements</p>
                    <i class="part_line"></i>
                    <p class="font-30-vw">E-mail:
                        <a>@qq.com</a>
                    </p>
                </div>
            </div>
            <div class="__word_container summary font-14-vw">
                <div>
                    <p class="___title font-18-vw">
                        <strong>项目名称（中英文）/ Submissionrequirements</strong>
                    </p>
                    <div class="margin_top">
                        <p>完整专业摄影版（图片宽度不低于 1,800 像素，越大越好）</p>
                        <p>白底平面图或彩色平面图（图片宽度不低于 1,800 像素）</p>
                        <p>设计说明，字数不低于 450 字（中英文最佳）</p>
                        <p>设计师及团队简介（中英文最佳）</p>
                        <p>创作过程稿、手绘稿、立面、剖面图等更佳</p>
                    </div>
                    <div class="margin_top">
                        <p>The name of theproject (best in both Chinese and English)</p>
                        <p>Completeprofessional photography version (image width is noless than 1,800 px, thelarger
                            the better)
                        </p>
                        <p>White or colorfulsurface plate (image width is no less than1,800 px)</p>
                        <p>Design specification(no less than 450 words, best in both Chinese and English)</p>
                        <p>The designer andteam introduction (best in both Chinese and English)</p>
                        <p>Better to add thedraft of creating process, handpaintedmanuscript, elevation and
                            cross-sectiondrawn)</p>
                    </div>
                    <p class="margin_top">如果您是建筑师、景观设计师、室内设计师、产品设计师、艺术家……我们期待您的投稿，也非常荣幸发布您的优秀的作品。</p>
                    <p>If you are the architect, landscape designer, interior designer,productdesigner ect,we are
                        looking
                        forward to your contributions and we wouldbe veryhonored to publish your excellent work.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 合作伙伴 -->
    <div class="partners_container">
        <div class="most_inner_container">
            <div class="the_main_partners_body">
                <div class="_title font-60-vw">partners</div>
                <div class="partners_group_container" id="partners_group_container">
                    <div class="partner_row">
                        <div class="partner_grid item-slider">
                            <a target="_blank" href="">
                                <img class="waypoint_ani animated" src="__STATIC__/images/partner/001.jpg" alt="" style="transition-delay: 0.02s;">
                            </a>
                        </div>
                        <div class="partner_grid item-slider">
                            <a target="_blank" href="">
                                <img class="waypoint_ani animated" src="__STATIC__/images/partner/001.jpg" alt="" style="transition-delay: 0.03s;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 全年服务 -->
    <div class="full_year_services_container item-slider">
        <div class="width_1185 service_inner_container">
            <div class="service_text_container waypoint_ani animated" style="transition-delay: 0.35s;">
                <div class="_text_group font-14-vw">
                    <p class="__title font-18-vw">一. 精品设计机构品牌推广服务:</p>
                    <p class="has_dot">针对设计企业提供的作品，以图文（视频）的形式在平台（官网、微博、微信）进行发布。</p>
                    <p class="has_dot">针对设计企业的最新公司动态、获奖讯息等资讯以图文（视频）的形式在平台进行发布。</p>
                    <p class="has_dot">优先加入“名师汇系列活动”进行微博平台推广、作品集宣传及互动交流。</p>
                    <p class="has_dot">针对设计企业提供的招聘讯息，以图文（视频）的形式在平台进行发布。</p>
                    <p class="has_dot">优先加入“微访谈”专栏。</p>
                    <p>
                        <strong>注：合作前需对企业进行审核，出品品质是我们唯一的审核标准。</strong>
                    </p>
                    <p class="__title font-18-vw">二. 品牌设计服务:</p>
                    <p class="has_dot">品牌、企业形象设计与提升（VI形象系统、标志设计、平面广告＋包装设计）</p>
                    <p class="has_dot">品牌活动、产品、企业作品集等画册设计（品牌形象画册、企业画册/产品型录、商业摄影）</p>
                    <p class="has_dot">品牌、企业官网设计（企业网站、品牌形象网站／资讯网站、交互设计／UI设计、前端与后端开发）</p>
                </div>
                <div class="other_text p_right_top">
                    <p class="font-35-vw">品牌推广服务</p>
                    <p class="font-68-vw en_text">brand</p>
                </div>
                <div class="other_text p_right_bottom font-18-vw">
                    <p>QQ：</p>
                    <p>E-mail：
                        <a>@qq.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- 移动端合作 -->
<div id="mobile_page_cooperatior" class="_mobile">
    <!-- 移动端大图加文字 -->
    <div class="image_width_text_middle height_565">
        <div class="bg_box has_mask"></div>
        <div class="text_box font-50-vw">
            <p>
                Submission And
                <br>Cooperation
            </p>
        </div>
    </div>
    <!-- 移动端标题+文字 -->
    <div class="mobile_text_container bg_gray">
        <div class="_title font-50-vw">partners</div>
        <!-- 移动端合作伙伴展示             -->
        <div class="flex_box_with_three_row">
            <!--10个一组flex_box_row-->
            <div class="flex_box_row">
                <div class="flex_box_item slider_go_up">
                    <img src="__STATIC__/images/partner/001.jpg" alt="" class="waypoint_ani">
                </div>
                <!--<div class="flex_box_item slider_go_up">-->
                    <!--<img src="__STATIC__/images/partner/002.jpg" alt="" class="waypoint_ani">-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <!-- 投稿信息模块 -->
    <div class="text_with_big_head_title">
        <div class="_title_container font-50-vw bg_yellow">
            <p>Submission</p>
            <p>Requirements</p>
            <p class="font-30-vw margin-top-36">E-mail:@qq.com</p>
        </div>
        <div class="_text_container font-20-vw">
            <div class="_text_inner_container padding373">
                <p class="font-24-vw">
                    <strong>项目名称（中英文）/ Submissionrequirements</strong>
                </p>
                <p>完整专业摄影版（图片宽度不低于 1,800 像素，越大越好）</p>
                <p>白底平面图或彩色平面图（图片宽度不低于 1,800 像素）</p>
                <p>设计说明，字数不低于 450 字（中英文最佳）</p>
                <p>设计师及团队简介（中英文最佳）</p>
                <p>创作过程稿、手绘稿、立面、剖面图等更佳</p>
                <p>The name of theproject (best in both Chinese and English)</p>
                <p>Completeprofessional photography version (image width is noless than 1,800 px, thelarger the
                    better)</p>
                <p>White or colorfulsurface plate (image width is no less than1,800 px)</p>
                <p>Design specification(no less than 450 words, best in bothChinese and English)</p>
                <p>The designer andteam introduction (best in both Chinese andEnglish)</p>
                <p>Better to add thedraft of creating process, handpaintedmanuscript, elevation and
                    cross-sectiondrawn)</p>
                <p>如果您是建筑师、景观设计师、室内设计师、产品设计师、艺术家……我们期待您的投稿，也非常荣幸发布您的优秀的作品。</p>
                <p>If you are the architect, landscape designer, interior designer,productdesigner ect,we are looking
                    forward to your contributions and we wouldbe veryhonored to publish your excellent work.</p>
            </div>
        </div>
    </div>
    <!-- 移动端背景图片with文字caption -->
    <div class="text_caption_container">
        <div class="_bg" style="background-image:url(__STATIC__/images/a_bg_2.jpg);"></div>
        <div class="text_card">
            <div class="_text_caption">
                <p class="__title font-50-vw">brand</p>
                <p class="__title font-40-vw">全年品牌推广服务</p>
                <div class="__content font-20-vw text-align-left">
                    <p class="font-24-vw"><strong>一. 精品设计机构品牌推广服务:</strong></p>
                    <p>针对设计企业提供的作品，以图文（视频）的形式在平台（官网、微博、微信）进行发布。</p>
                    <p>针对设计企业的最新公司动态、获奖讯息等资讯以图文（视频）的形式在平台进行发布。</p>
                    <p>优先加入“名师汇系列活动”进行微博平台推广、作品集宣传及互动交流。</p>
                    <p>针对设计企业提供的招聘讯息，以图文（视频）的形式在平台进行发布。</p>
                    <p>优先加入“微访谈”专栏。</p>
                    <p><strong>注：合作前需对企业进行审核，出品品质是我们唯一的审核标准。</strong></p>
                    <br>
                    <p><strong>二. 品牌设计服务:</strong></p>
                    <p>品牌、企业形象设计与提升（VI形象系统、标志设计、平面广告＋包装设计）</p>
                    <p>品牌活动、产品、企业作品集等画册设计（品牌形象画册、企业画册/产品型录、商业摄影）</p>
                    <p>品牌、企业官网设计（企业网站、品牌形象网站／资讯网站、交互设计／UI设计、前端与后端开发）</p>
                </div>
            </div>
        </div>
    </div>

</div>

{include file="index@tpl/footer" /}