<div id="site_bottom">
    <!-- 页面底部 -->
    <div id="page_footer" class="font-14-vw _pc" style="background-color: #f4cb22">
        <div class="page_inner_container">
            <div class="social_buttons">
            </div>
            <p class="website_info">©室内设计 Design</p>
            <p class="website_author">
            </p>
        </div>
    </div>
    <!-- 移动端底部 -->
    <div id="mobile_page_bottom_container" class="font-16-vw _mobile" style="background-color: #f4cb22">
        <!-- 移动端分享icon -->
        <div class="_text">
            <p>©室内设计 Design</p>
        </div>
    </div>
</div>
<script src="__STATIC__/js/swiper.min.js"></script>
<script src="__STATIC__/js/swiper_use.js"></script>
<script src="__STATIC__/js/jquery.aniview.js"></script>
<script src="__STATIC__/js/jquery.waypoints.min.js"></script>
<script src="__STATIC__/js/TweenMax.js"></script>
<script src="__STATIC__/js/hammer.min.js"></script>
<script src="__STATIC__/js/skrollr.min.js"></script>
<script src="__STATIC__/js/jquery.cycle2.min.js"></script>
<script src="__STATIC__/js/jquery.cycle2.tile.min.js"></script>
<script src="__STATIC__/js/jquery.cycle2.swipe.min.js"></script>
<script src="__STATIC__/js/jquery.easing.1.3.js"></script>
<script src="__STATIC__/js/common.js"></script>
</body>
</html>