<script src="__MODULES__/node_modules/jquery/dist/jquery.min.js"></script>
<script src="__MODULES__/node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="__MODULES__/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="__MODULES__/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
<script src="__MODULES__/node_modules/chart.js/dist/Chart.min.js"></script>
<script src="__MODULES__/js/off-canvas.js"></script>
<script src="__MODULES__/js/misc.js"></script>
<script src="__MODULES__/js/dashboard.js"></script>
</body>
</html>