<!DOCTYPE html>
<html lang="zh-CN" class="js">
<head>
    <meta charset="UTF-8">
    <!-- Mobile Devices Support @begin -->
    <meta content="telephone=no, address=no" name="format-detection"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices Support @end -->
    <meta name="keywords" content="室内设计" />
    <meta name="description" content="室内设计" />
    <title>室内设计</title>
    <link rel="shortcut icon" href="__STATIC__/favicon.ico" />
    <link href="__STATIC__/css/swiper.min.css" rel="stylesheet">
    <link href="__STATIC__/css/base.css" rel="stylesheet">
    <link href="__STATIC__/css/style.css" rel="stylesheet">
    <link href="__STATIC__/css/media.css" rel="stylesheet">
    <script src="__STATIC__/js/jquery-1.9.1.min.js"></script>
    <script src="__STATIC__/js/index.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    <!--[if IE]>
    <script src="https://cdn.bootcss.com/html5shiv/3.6/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="site_header" style="background-color: #fff">
    <!-- 页面顶部 -->
    <div id="page_header_container" class="all_page_header_container _pc _with_opacity_bg _can_be_scroll">
        <div class="page_inner_container">
            <div class="phc_main_body clear_new">
                <div class="phc_logo_container" onclick="javascript:window.location.href='__INDEX__'"></div>
                <ul class="phc_head_menu font-15-vw clear_new">
                    <li>
                        <a href="__INDEX__/index/cases" class="top_nav_link">
                            <div class="cube_container">
                                <div class="front">Case</div>
                                <div class="backer">案例</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="__INDEX__/index/fronter" class="top_nav_link">
                            <div class="cube_container">
                                <div class="front">Fronter</div>
                                <div class="backer">前沿</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="__INDEX__/index/figure" class="top_nav_link">
                            <div class="cube_container">
                                <div class="front">Figure</div>
                                <div class="backer">人物</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="__INDEX__/index/news" class="top_nav_link">
                            <div class="cube_container">
                                <div class="front">News</div>
                                <div class="backer">新闻</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="__INDEX__/index/about" class="top_nav_link">
                            <div class="cube_container">
                                <div class="front">About</div>
                                <div class="backer">关于</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="__INDEX__/index/partner" class="top_nav_link">
                            <div class="cube_container">
                                <div class="front">Partner</div>
                                <div class="backer">合作</div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="phc_icons_group">
                    <div class="phc_icon_grid weibo">
                        <i></i>
                    </div>
                    <div class="phc_icon_grid wechat">
                        <i></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 移动端头部 -->
    <div id="mobile_page_header_container" class="all_page_header_container mobile_grid_full_width _width_fixed_sibling _mobile _with_opacity_bg _can_be_scroll _be_fixed">
        <div class="header_sign_container" onclick="get_nav()">
            <div class="_line_box"></div>
            <div class="_line_box"></div>
            <div class="_line_box"></div>
        </div>
        <div class="header_logo_container"></div>
    </div>
    <div id="mobile_top_nav" class="_mobile">
        <ul class="_nav_lists font-48-vw">
            <li><a href="__INDEX__">Index</a></li>
            <li><a href="__INDEX__/index/cases">Case</a></li>
            <li><a href="__INDEX__/index/fronter">Fronter</a></li>
            <li><a href="__INDEX__/index/figure">Figure</a></li>
            <li><a href="__INDEX__/index/news">News</a></li>
            <li><a href="__INDEX__/index/about">About</a></li>
            <li><a href="__INDEX__/index/partner">Partner</a></li>
        </ul>
    </div>
</div>